openapi: 3.1.0
info:
  title: Scandrix Continuous Software-Assurance & Risk-Intelligence API
  version: 1.0.0
  description: |
    Production REST & Streaming API for the Scandrix Continuous Software-Assurance Platform.
    Provides deterministic code reviews, SSE progress streaming, sandboxed autonomous remediation,
    and cryptographic In-Toto / Ed25519 Assurance Manifest generation.
  contact:
    name: Scandrix Enterprise Architecture
    url: https://scandrix.dev/support
  license:
    name: Proprietary
servers:
  - url: https://api.scandrix.dev/api/v1
    description: Production Global Gateway
  - url: http://localhost:8080/api/v1
    description: Local Development Server

security:
  - BearerAuth: []
  - TeamKeyAuth: []

paths:
  /reviews/staged:
    post:
      summary: Submit Staged Diff for Instant Review
      description: |
        Accepts a raw unified git diff from the local CLI or CI pipeline. Orchestrates deterministic
        AST parsing, SAST/SCA rule execution, and 6D Risk Vector calculation.
      operationId: submitStagedReview
      tags:
        - Reviews
      parameters:
        - $ref: '#/components/parameters/X-Tenant-ID'
        - $ref: '#/components/parameters/X-Idempotency-Key'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StagedReviewRequest'
      responses:
        '202':
          description: Review accepted and queued for execution.
          headers:
            X-Trace-ID:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '422':
          $ref: '#/components/responses/422UnprocessableEntity'

  /reviews/{id}/stream:
    get:
      summary: Stream Review Execution Progress
      description: |
        Establishes an HTTP/2 Server-Sent Events (SSE) connection streaming real-time stage transitions,
        live finding emissions, heartbeat signals, and final composite risk evaluation.
      operationId: streamReviewProgress
      tags:
        - Reviews
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique Review identifier
        - name: after_sequence
          in: query
          required: false
          schema:
            type: integer
            default: 0
          description: Resume stream after specific event sequence number
        - $ref: '#/components/parameters/X-Tenant-ID'
      responses:
        '200':
          description: Event stream established. Emits text/event-stream payloads.
          headers:
            Cache-Control:
              schema:
                type: string
                example: no-cache
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Accel-Buffering:
              schema:
                type: string
                example: 'no'
          content:
            text/event-stream:
              schema:
                type: string
                description: Continuous Server-Sent Events formatted as `event: <type>\ndata: <json>\n\n`
        '404':
          $ref: '#/components/responses/404NotFound'

  /findings/{id}/remediate:
    post:
      summary: Synthesize & Verify Sandboxed Remediation Patch
      description: |
        Triggers the autonomous Proof-of-Fix engine. Synthesizes an AST-aligned candidate patch,
        spawns a dual-tier sandbox (gVisor or Firecracker MicroVM), compiles the codebase, runs
        regression tests, and verifies vulnerability elimination. Tier-4 repository mutations require
        cryptographically signed HumanAuthorization.
      operationId: remediateFinding
      tags:
        - Remediation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Finding identifier to remediate
        - $ref: '#/components/parameters/X-Tenant-ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemediationRequest'
      responses:
        '200':
          description: Patch synthesized and sandbox verification completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemediationResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '409':
          description: Conflict — Proof of Fix verification failed in sandbox.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /assurance/manifests/sign:
    post:
      summary: Sign Cryptographic Assurance Manifest
      description: |
        Generates an Ed25519-signed in-toto v1.0 / SLSA Level 3 compliant Assurance Manifest
        incorporating all deterministic evidence packets, verified sandbox test runs, and policy attestations.
      operationId: signAssuranceManifest
      tags:
        - Assurance
      parameters:
        - $ref: '#/components/parameters/X-Tenant-ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignAssuranceManifestRequest'
      responses:
        '200':
          description: Cryptographic Assurance Manifest generated and signed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssuranceManifestResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '403':
          $ref: '#/components/responses/403Forbidden'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: User or CLI JWT token (`Bearer scandrix_*` or `Bearer <jwt>`)
    TeamKeyAuth:
      type: apiKey
      in: header
      name: x-team-key
      description: Team API Key (`scandrix_live_*` or `scandrix_test_*` format)

  parameters:
    X-Tenant-ID:
      name: X-Tenant-ID
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Scoped Tenant UUID for RLS context isolation
    X-Idempotency-Key:
      name: X-Idempotency-Key
      in: header
      required: false
      schema:
        type: string
      description: Unique client token preventing duplicate review dispatch

  responses:
    400BadRequest:
      description: Invalid request syntax or malformed diff.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    401Unauthorized:
      description: Authentication credentials missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    403Forbidden:
      description: Access denied for requested tenant or action requires higher authorization.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    404NotFound:
      description: Specified resource does not exist in tenant context.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'
    422UnprocessableEntity:
      description: Semantic validation error (e.g. unparseable AST or unsupported language).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProblemDetails'

  schemas:
    AnalysisStatus:
      type: string
      enum:
        - PASS
        - PASS_WITH_WARNINGS
        - FAIL
        - PARTIAL_ANALYSIS
        - NOT_TESTED
        - ERROR
      description: Strict 6-state analysis outcome. Never equates NOT_TESTED with PASS.

    FindingSeverity:
      type: string
      enum:
        - INFO
        - LOW
        - MEDIUM
        - HIGH
        - CRITICAL

    FindingStatus:
      type: string
      enum:
        - CANDIDATE
        - CONFIRMED
        - SUPPRESSED
        - ACCEPTED_RISK
        - REMEDIATED
        - FALSE_POSITIVE

    SandboxTier:
      type: string
      enum:
        - STANDARD_GVISOR
        - STRONG_FIRECRACKER

    StagedReviewRequest:
      type: object
      required:
        - repository_id
        - raw_diff
        - base_sha
        - head_sha
      properties:
        repository_id:
          type: string
          format: uuid
        base_sha:
          type: string
          pattern: '^[0-9a-f]{40}$'
        head_sha:
          type: string
          pattern: '^[0-9a-f]{40}$'
        branch_name:
          type: string
          example: feature/auth-guard
        raw_diff:
          type: string
          description: UTF-8 unified git diff payload
        policy_id:
          type: string
          format: uuid
        stages:
          type: array
          items:
            type: string
            enum: [AST, SAST, SCA, SECRETS, IAC, REACHABILITY, POLICY]

    ReviewAcceptedResponse:
      type: object
      required:
        - review_id
        - status
        - stream_url
        - created_at
      properties:
        review_id:
          type: string
          format: uuid
        status:
          type: string
          example: QUEUED
        stream_url:
          type: string
          example: /api/v1/reviews/019482fa-1234-7000-8000-abcdef123456/stream
        created_at:
          type: string
          format: date-time

    RemediationRequest:
      type: object
      required:
        - sandbox_tier
      properties:
        sandbox_tier:
          $ref: '#/components/schemas/SandboxTier'
        delivery_mode:
          type: string
          enum: [CANDIDATE_ONLY, APPLY_TO_BRANCH]
          default: CANDIDATE_ONLY
        target_branch:
          type: string
        run_generated_tests:
          type: boolean
          default: true
        human_authorization:
          $ref: '#/components/schemas/HumanAuthorization'

    HumanAuthorization:
      type: object
      required:
        - authorization_id
        - approver_id
        - signature
        - expires_at
      properties:
        authorization_id:
          type: string
          format: uuid
        approver_id:
          type: string
        key_id:
          type: string
        signature:
          type: string
          description: Base64 Ed25519 signature over payload digest
        expires_at:
          type: string
          format: date-time

    RemediationResponse:
      type: object
      required:
        - patch_id
        - unified_diff
        - verification_status
        - proof_of_fix_hash
      properties:
        patch_id:
          type: string
          format: uuid
        unified_diff:
          type: string
        verification_status:
          $ref: '#/components/schemas/AnalysisStatus'
        proof_of_fix_hash:
          type: string
          example: sha256:7f83b1657ff1fc53b92dc18148a1d65dfc2d4b1fa3d677284addd200126d9069
        sandbox_tier_used:
          $ref: '#/components/schemas/SandboxTier'
        execution_duration_ms:
          type: integer
        remediation_state:
          type: string
          example: VERIFIED

    SignAssuranceManifestRequest:
      type: object
      required:
        - repository_id
        - release_tag
        - commit_sha
      properties:
        repository_id:
          type: string
          format: uuid
        release_tag:
          type: string
          example: v2.4.0
        commit_sha:
          type: string
          pattern: '^[0-9a-f]{40}$'
        evidence_packet_ids:
          type: array
          items:
            type: string
            format: uuid

    AssuranceManifestResponse:
      type: object
      required:
        - manifest_id
        - in_toto_statement
        - ed25519_signature
        - public_key_id
        - signed_at
      properties:
        manifest_id:
          type: string
          format: uuid
        in_toto_statement:
          type: object
          description: In-Toto v1.0 Attestation Envelope containing SLSA provenance
        ed25519_signature:
          type: string
          description: Base64-encoded cryptographic signature
        public_key_id:
          type: string
        signed_at:
          type: string
          format: date-time

    ProblemDetails:
      type: object
      required:
        - type
        - title
        - status
        - trace_id
      properties:
        type:
          type: string
          example: https://errors.scandrix.dev/AUTH_FORBIDDEN
        title:
          type: string
          example: Forbidden
        status:
          type: integer
          example: 403
        detail:
          type: string
          example: Tier-4 mutation requires valid cryptographic HumanAuthorization.
        instance:
          type: string
          example: /api/v1/findings/019482fa-1234-7000-8000-abcdef123456/remediate
        trace_id:
          type: string
          format: uuid
          example: 019482fa-9999-7000-8000-111122223333
